@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
background-image: linear-gradient(to right, #F2CAB3, #A65E44);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.651);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #730D1F;
    text-align: center;
    text-shadow: 1px 1px 2px #600b1adb;
}
h2 {
    color: #40030E;
}
p {
    text-align: justify;
}

